[submodule "lib/ka9q-fec"]
	path = lib/ka9q-fec
	url = https://github.com/Opendigitalradio/ka9q-fec.git
[submodule "lib/RTKLIB"]
	path = lib/RTKLIB
	url = https://github.com/tomojitakasu/RTKLIB.git
[submodule "lib/fftw3"]
	path = lib/fftw3
	url = https://github.com/FFTW/fftw3.git
[submodule "src/rcv/rtl-sdr"]
	path = src/rcv/rtl-sdr
	url = https://github.com/osmocom/rtl-sdr.git
[submodule "lib/cJSON"]
	path = lib/cJSON
	url = https://github.com/DaveGamble/cJSON.git
